version: "3.9"

services:
  app:
    build: .
    container_name: java-app
    depends_on:
      - db
    environment:
      DB_URL: jdbc:mysql://db:3306/mydb
      DB_USER: root
      DB_PASSWORD: Aravind@123
    ports:
      - "8081:80"

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Aravind@123
      MYSQL_DATABASE: mydb
    ports:
      - "3309:3306"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge
volumes:
   mysql_data:


     
